[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
django = "*"
"psycopg2-binary" = "*"
django-crispy-forms = "*"

[dev-packages]
ipython = "*"
"flake8" = "*"
pytest = "*"
pytest-django = "*"
factory-boy = "*"
codecov = "*"
coverage = "*"

[requires]
python_version = "3.6"
