{% extends 'base.html' %}


{% block title %}{{ client.name }}{% endblock %}

{% block content %}
  <h1 class="border-bottom mb-5 pb-1">{{ client.name }} <small>({{ client.id }})</small></h1>

  <h2>Contact Information</h2>
  <dl class="row">
    <div class="col-sm-12 col-md-6">
      <dt>Email</dt>
      <dd>{{ client.email }}</dd>
    </div>

    {% if client.phone_number %}
      <div class="col-sm-12 col-md-6">
        <dt>Phone Number</dt>
        <dd>{{ client.phone_number }}</dd>
      </div>
    {% endif %}
  </dl>

  <hr class="my-5">

  <h2>Manage Company</h2>
  <p>
    <a class="btn btn-primary" href="{{ client.job_list_url }}">Manage Jobs</a>
  </p>
{% endblock %}
