{% extends 'base.html' %}

{% load humanize %}


{% block title %}{{ client.name }} Jobs{% endblock %}

{% block content %}
  <nav aria-label="breadcrumb" class="mb-5">
    <ol class="breadcrumb">
      <li class="breadcrumb-item"><a href="{{ client.get_absolute_url }}">{{ client.name }}</a></li>
      <li class="breadcrumb-item active" aria-current="page">Jobs</li>
    </ol>
  </nav>

  <div class="row mb-5">
    <div class="col-sm-12 col-md-9 mb-3 mb-md-0">
      <h1 class="m-0">{{ client.name }} Jobs</h1>
    </div>
    <div class="col-sm-12 col-md-3 d-flex align-items-center">
      <a class="btn btn-block btn-primary btn-sm" href="{% url 'vms:client-job-create' client.slug %}">Create Job</a>
    </div>
  </div>
  <table class="table">
    <thead>
      <tr>
        <th scope="col">Name</th>
        <th scope="col">Hourly Rate</th>
      </tr>
    </thead>
    <tbody>
      {% for job in jobs %}
        <tr>
          <td><a href="{{ job.get_absolute_url }}">{{ job.name }}</a></td>
          <td>${{ job.pay_rate | floatformat:2 | intcomma }}</td>
        </tr>
      {% endfor %}
    </tbody>
  </table>
{% endblock %}
