{% extends 'base.html' %}

{% block content %}
  <h1>Dashboard</h1>
  <div class="alert alert-info my-4">
    <p>Is your job not listed below? Apply to the appropriate staffing agency so they can place you in a job.</p>
    <a class="btn btn-primary btn-sm" href="{% url 'vms:create-staff-employee' %}">Apply to a Staffing Agency</a>
  </div>
  {% if staff_admins %}
    <section class="my-4">
      <h2>Staffing Agencies</h2>
      <p class="lead">Manage the staffing agencies that you are an administrator of.</p>
      <ul>
        {% for admin in staff_admins %}
          <li><a href="{{ admin.agency.get_absolute_url }}">{{ admin.agency.name }}</a></li>
        {% endfor %}
      </ul>
    </section>
  {% endif %}
  {% if client_admins %}
    <section class="my-4">
      <h2>Companies</h2>
      <p class="lead">Manage the companies that you are an administrator of.</p>
      <ul>
        {% for client_admin in client_admins %}
          <li><a href="{{ client_admin.client.get_absolute_url }}">{{ client_admin.client.name }}</a></li>
        {% endfor %}
      </ul>
    </section>
  {% endif %}
  {% if employees %}
    <section class="my-4">
      <h2>Employers</h2>
      <ul>
        {% for employee in employees %}
          <li><a href="{{ employee.client.get_absolute_url }}">{{ employee.client.name }}</a></li>
        {% endfor %}
      </ul>
    </section>
  {% endif %}
{% endblock %}
