<!doctype html>
<html>
  <head>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>{% block title %}Ulimi Time Tracker{% endblock %}</title>
  </head>

  <body>
    <header>
      <ul>
        <li><a href="{% url 'home' %}">Home</a></li>
        {% if request.user.is_authenticated %}
        <li><a href="{% url 'vms:dashboard' %}">Dashboard</a></li>
        <li><a href="{% url 'account:profile' %}">Profile</a></li>
        <li><a href="{% url 'account:logout' %}">Log Out</a></li>
        {% else %}
        <li><a href="{% url 'account:login' %}">Log In</a></li>
        {% endif %}
      </ul>
    </header>
    <main>
      {% block content %}{% endblock %}
    </main>
  </body>
</html>
