boto==2.49.0
django-crispy-forms==1.7.2
django-email-utils==0.1.1
django-ses==0.8.7
django==2.2.10
djangorestframework==3.9.0
future==0.17.1
psycopg2-binary==2.7.6.1
pytz==2018.7
sphinx
sphinx_rtd_theme
