body {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

main {
    flex: 1;
}

.hero {
  background-size: cover;
  background-position: center;
  min-height: 80vh;
}

.jumbotron--hero {
  background: rgba(233, 236, 239, .9);
}
